{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}



    <h1>S'enregistrer</h1>
<div class="container">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.gender) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.adress) }}
        {{ form_row(registrationForm.postcode) }}
        {{ form_row(registrationForm.city) }}
        {{ form_row(registrationForm.phone) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
