{% extends 'base.html.twig' %}
{% block title %}Liste des produits
{% endblock %}
{% block body %}
	{# <h1>Liste des Produits</h1> #}
<div class="container">
<hr>

{# <br> #}
	<div class="row row-cols-1 row-cols-md-4 g-4">
		{% for product in products %}
			<div class="col">
				<div class="card h-100">
					<img src="{{ asset('build/images/' ~ product.photo) }}" class="card-img-top" alt="...">

					<div class="card-body">
						<h5 class="card-title">{{product.name}}</h5>
						<p class="card-text">{{product.description}}</p>
						<p class="card-text">{{product.price}}€</p>
					</div>

					{% if is_granted('ROLE_ADMIN') %}
						<a class="btn btn-warning" href="{{path('app_product_edit',{'id': product.id}) }}" class="card-link">Modifier</a>
						<a class="btn btn-danger" href="{{path('app_product_delete',{'id': product.id})}}" class="card-link">supprimer</a>
					{% else %}
						<a class="btn btn-secondary" href="{{ path('app_products_show',{'id':product.id}) }}">Voir le produit</a>
					{% endif %}
				</div>
			</div>
		{% else %}
			
				<h1>Aucun résultat trouvé</h1>
			
		{% endfor %}
	</div>
	{# </table> #}
	{# <a class="btn btn-primary" href="#">Création d'un nouveau livre</a> #}
</div>
{% endblock %}
